$base-color: green;
html{
  body{
    header{
      .navbar{
        .navbar-brand {
          color:$base-color;
        }
        .navbar-text{
          .user{
            color:$base-color;
          }
        }
      }
    }
  }
}
